.App {
  text-align: center;
  --color-1: #3D7EAA;
  --color-2: #FFE47A;
  /*
    You can access variables using the 'var()' function:
  */
  background: linear-gradient(100deg, var(--color-1), var(--color-2));
  /*background-color: rgb(234, 240, 243);*/
  background-repeat: no-repeat;
  /*background-image: url("./Images/Toyen3.png"); */
  min-height: calc(100vh - 50);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Post{
  max-width: 800px;
  width: 100%;
  display: table;
  margin: 0 auto;
  padding: 20px 50px;
}
.About{
  margin-top: 50;

}
